<h1>Car Sale Estimates</h1>

### The goal of this project is to provide estimates to people trying to sell their used car in a variety of ways.
#### Data Sources:
* [Craigslist Boston](https://boston.craigslist.org/cto)
* [Edmunds API](https://developer.edmunds.com)
* Used car websites e.g. [TrueCar](https://www.truecar.com)

In [6]:
%store -r all_car_info
print len(all_car_info)
all_car_info[10:15]

3432

,description,location,price,mileage,region,year,std_location
link,,,,,,,
/gbs/cto/6038299048.html,Family Car Cadillac CTS 2008 V6,Boston,3213.0,NaN,gbs/,2008.0,bosto
/sob/cto/6028224022.html,2011 Nissan Maxima,Taunton,10500.0,NaN,sob/,2011.0,taunt
/gbs/cto/6020990658.html,"2005 VW Jetta 80k miles, great condition",,3500.0,80000.0,gbs/,2005.0,
/gbs/cto/6038298193.html,1999 Ford Ranger XLT auto 2 wheel drive 4 cyli...,Derry,2500.0,NaN,gbs/,1999.0,derry
/gbs/cto/6037009052.html,TOYOTA 2007 !!! ONE OWNER ONLY,PROVIDENCE,4950.0,NaN,gbs/,2007.0,provi

![](linreg.png)

In [4]:
%store -r attr_df
attr_df[3:8]

,VIN,condition,cylinders,drive,fuel,odometer,paint color,size,title status,transmission,type,year_make_model
link,,,,,,,,,,,,
/sob/cto/6031899704.html,NaN,good,8 cylinders,4wd,gas,4006000,silver,full-size,clean,automatic,NaN,2005 chevrolet silverado 1500 lt 4wd
/gbs/cto/6054112930.html,1FM5K8D89DGB85639,like new,6 cylinders,4wd,gas,112062,grey,NaN,clean,automatic,SUV,2013 2013 FORD EXPLORER XLTA
/gbs/cto/6054175468.html,NaN,good,4 cylinders,fwd,gas,138000,white,mid-size,clean,automatic,sedan,2006 nissan altima
/nwb/cto/6054125816.html,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
/gbs/cto/6038270751.html,NaN,excellent,4 cylinders,fwd,gas,145000,red,NaN,clean,automatic,NaN,2004 toyota corolla

![](ford_focus_pricing.png)

Retail markup by $ | Retail markup by %
- | -
![](markup.png) | ![](markup_pct.png)

### Future goals:
* Build a model using newly scraped Craigslist information
* Use car dealership information [truecar.com](https://www.truecar.com) along with Edmunds data
* Working on web app for users to input information