<h1>CarSalesBLS</h1>

### The goal of this project is to provide estimates to people trying to sell their used car in a variety of ways.
#### Data Sources:
* [Craigslist Boston](https://boston.craigslist.org/cto)
* [Edmunds API](https://developer.edmunds.com)
* Used car websites e.g. [TrueCar](https://www.truecar.com)

### Craigslist data

In [4]:
%store -r attr_df
attr_df[3:8]

,VIN,condition,cylinders,drive,fuel,odometer,paint color,size,title status,transmission,type,year_make_model
link,,,,,,,,,,,,
/sob/cto/6031899704.html,NaN,good,8 cylinders,4wd,gas,4006000,silver,full-size,clean,automatic,NaN,2005 chevrolet silverado 1500 lt 4wd
/gbs/cto/6054112930.html,1FM5K8D89DGB85639,like new,6 cylinders,4wd,gas,112062,grey,NaN,clean,automatic,SUV,2013 2013 FORD EXPLORER XLTA
/gbs/cto/6054175468.html,NaN,good,4 cylinders,fwd,gas,138000,white,mid-size,clean,automatic,sedan,2006 nissan altima
/nwb/cto/6054125816.html,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
/gbs/cto/6038270751.html,NaN,excellent,4 cylinders,fwd,gas,145000,red,NaN,clean,automatic,NaN,2004 toyota corolla

![](lassoregens.png)

### Edmunds data

Retail markup by $ | Retail markup by %
- | -
![](markup.png) | ![](markup_pct.png)

### Future goals:
* Improve model further; examine outliers
* Use car dealership information [truecar.com](https://www.truecar.com) along with Edmunds data
* Make detailed model information available via web app